<a href="https://colab.research.google.com/github/Syshsr300323/Prmn2023a/blob/main/my_answer/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/kiryu-3/Prmn2023/blob/main/Python/Python_Basic/question/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第4章 課題

## 課題1

10から2800まで、10飛ばしの数を乱数で生成し、2220000に足してください。  

この数を5つ生成し、一つのリストに格納した後、最終的に頭に"b"をつけて5つ出力してください。

＜実行結果例＞
``` py  
['b2220400', 'b2221750', 'b2222480', 'b2221720', 'b2220380']
```

In [25]:
import random

number=2220000
students_number=[]
for i in range(5):
  student=random.randint(1,280)*10
  students_number.append(f'b{number+student}')
print(students_number)

['b2220830', 'b2222230', 'b2221960', 'b2222600', 'b2221930']

## 課題2

1桁の自然数を乱数を使って5つ格納した2つのリストを作ってください。  
この時、一つのリスト内で5つの値が重複しないようにしてください

その後、対応する要素を足し合わせた新しいリストを出力してください

＜実行結果例＞
``` py  
1つ目のリスト：[1, 2, 3, 4, 5]  
2つ目のリスト：[1, 3, 5, 7, 9]  
足し合わせたリスト：[2, 5, 8, 11, 14]
```

In [26]:
import random

sizensuu=[1,2,3,4,5,6,7,8,9]
list3=[]
list1=random.sample(sizensuu,5)
list2=random.sample(sizensuu,5)
for i in range(5):
  list3.append(list1[i]+list2[i])

print(f'1つ目のリスト:{list1}')
print(f'2つ目のリスト:{list2}')
print(f'足し合わせたリスト:{list3}')

1つ目のリスト:[8, 9, 3, 2, 1]
2つ目のリスト:[3, 9, 1, 6, 7]
足し合わせたリスト:[11, 18, 4, 8, 8]

## 課題3

リストの中身を指定した数で分割してみます。

以下のリストには都道府県47つが格納されています。

In [ ]:
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

  
これをランダムに1つのリストのサイズを4として分割してください

＜実行結果例＞  
``` py 
[['宮崎県', '茨城県', '栃木県', '千葉県'], … , ['岩手県', '滋賀県', '宮城県']]
```

In [ ]:
# 入力用
import random
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

random.shuffle(todohuken_list)
todohuken=[todohuken_list[i:i+4] for i in range(0,47,4)]

print(todohuken)

[['東京都', '群馬県', '静岡県', '長野県'], ['徳島県', '京都府', '栃木県', '埼玉県'], ['広島県', '石川県', '鹿児島県', '岡山県'], ['佐賀県', '山梨県', '福井県', '福岡県'], ['山形県', '大分県', '熊本県', '富山県'], ['愛媛県', '沖縄県', '兵庫県', '千葉県'], ['宮城県', '新潟県', '長崎県', '三重県'], ['岩手県', '愛知県', '秋田県', '鳥取県'], ['大阪府', '福島県', '高知県', '島根県'], ['茨城県', '山口県', '宮崎県', '岐阜県'], ['奈良県', '香川県', '和歌山県', '神奈川県'], ['滋賀県', '北海道', '青森県']]

## 課題4

ある大学の名前と年齢が、次のような形式で格納されたリスト `university_list` があります。

In [ ]:
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]

このリストを、年齢順にソートして、新たなリストとして出力してください

＜実行結果＞  
``` py
['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']
```

In [24]:
# 入力用
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]
print(university_list)

list1=[]
list2=[]

for i in range(4):
  list1.append(int(university_list[i].split(",")[1]))
#print(list1)
list3=dict(zip(list1,university_list))
#print(list3)
list1.sort()
#print(list1)
for i in range(4):
  list2.append(list3[list1[i]])
print(list2)

['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']

## 課題5

**FizzBuzz（フィズ・バズ）問題**という問題について解いていきます。

もともとは、英語圏で長距離ドライブ中や飲み会の時に行われる言葉遊びです。

以下のような問題になります。

1～Nまでの整数を順に出力しなさい。ただし、例外として以下のルールを守ること。

* 3で割り切れる数字の場合は"Fizz"を出力
* 5で割り切れる数字の場合は"Buzz"を出力
* どちらでも割り切れる数字の場合は"FizzBuzz"を出力

ここではN=100として、まずは一つのリストに
"Fizz" か "Buzz" か "FizzBuzz" か "others" を格納してください。

その後、それぞれの要素の数をカウントしてください。

＜実行結果＞  
``` py
FizzBuzzの数：6 
Fizzの数：27 
Buzzの数：14
othersの数：53  
```

In [27]:
# 入力用
N=100
Fizz=[]
Buzz=[]
FizzBuzz=[]
others=[]
list=[i for i in range(1,N+1)]
for j in range(1,N+1):
  if(j%15==0):
    FizzBuzz.append(list[i])
  elif(j%5==0):
    Buzz.append(list[i]) 
  elif(j%3==0):
    Fizz.append(list[i])
  else:
    others.append(list[i])
  
print(f'FizzBuzzの数:{len(FizzBuzz)}')
print(f'Fizzの数:{len(Fizz)}')
print(f'Buzzの数:{len(Buzz)}')
print(f'othersの数:{len(others)}')

FizzBuzzの数:6
Fizzの数:27
Buzzの数:14
othersの数:53